{% load bootstrap3 %}

 <!DOCTYPE html>
 <html lang="en">
 <head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WAM</title>
  {% bootstrap_css %}
{% bootstrap_javascript %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'learning_logs/css/index.css' %}">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
<script type="text/javascript" src="{% static 'learning_logs/js/index.js' %}"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  
{% endblock%}
{% block add_head_scripts %}
{% endblock %}
</head>

<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed"
    data-toggle="collapse" data-target="#navbar"
    aria-expanded="false" aria-controls="navbar">
</button>

</div>
<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav">
{% if user.is_authenticated %}
<li><a class="navbar-brand" href="{% url 'learning_logs:menu' %}"><img src="{% static 'learning_logs/imagens/menu.png' %}" height="30" weight='30'></a>
</li>
<li><a class="navbar-brand" href="{% url 'learning_logs:sobre' %}"><img src="{% static 'learning_logs/imagens/about1.png' %}" height="30" weight='30'></a>
</li>
<li><a class="navbar-brand" href="{% url 'learning_logs:us' %}"><img src="{% static 'learning_logs/imagens/pesquisa.png' %}" height="30" weight='30'></a>
</li>

{% else %}
<li><a class="navbar-brand" href="{% url 'learning_logs:index' %}"><img src="{% static 'learning_logs/imagens/homepage.png' %}" height="30" weight='30'></a>
</li>
<li><a class="navbar-brand" href="{% url 'learning_logs:menu' %}"><img src="{% static 'learning_logs/imagens/menu.png' %}" height="30" weight='30'></a>
</li>
<li><a class="navbar-brand" href="{% url 'learning_logs:sobre' %}"><img src="{% static 'learning_logs/imagens/about1.png' %}" height="30" weight='30'></a>
</li>
<li><a class="navbar-brand" href="{% url 'learning_logs:us' %}"><img src="{% static 'learning_logs/imagens/pesquisa.png' %}" height="30" weight='30'></a>
</li>
{% endif %}

</ul>
<ul class="nav navbar-nav navbar-right">
{% if user.is_authenticated %}
<li><a><b>Olá, {{ user.username }}.</a></b></li>
<li><div style="padding-top:8px"><a href="{% url 'users:logout' %}" class="btn btn-default">Log out</b></a></div></li>
{% else %}
{% endif %}
</ul>
</div><!--/.nav-collapse -->
</div>
</nav>

<div class="container">
<div class="page-header">
{% block header %}{% endblock header %}
</div>
<div>
{% block content %}{% endblock content %}
</div>
</div> <!-- /container -->
</body>
</html>