{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block header %}
<h2>Sobre</h2>
{% endblock header %}
{% block content %}
<h4 style="text-align: justify; line-height: 180%;">
</br>
<ul>
<li>Alunos do programa doutoral em Engenharia Biomédica FCT-UNL</li>
<li>Trabalho desenvolvido no âmbito da unidade curricular Interacção Pessoa-Máquina</li>
<li>O desenvolvimento de uma interface gráfica está incluído no plano de doutoramento de todos os elementos do grupo</li>
</ul>
</br>
A Web Assistência Médica (WAM) é uma plataforma de assistência médica online destinada a indivíduos com sintomatologia associada e situação médica considerada “não muito urgente”, que não possam/desejem dirigir-se a uma unidade de saúde para avaliar o seu quadro clínico. Através do preenchimento de um formulário de sintomatologia associada são dadas recomendações adequadas. Esta plataforma disponibiliza um pedido de assistência único, para utilizadores não registados, ou uma assistência personalizada que permite ao utilizador registado aceder a funcionalidades extra.
</h4>
{% endblock content %}